FlowNodeRed.txt
[{"id":"ab51fb30.d67058","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2b8c0846.a50188","type":"telegram bot","z":"","botname":"TgmUcmSmartHomeBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"192d87ca.0ebb48","type":"telegram bot","z":"","botname":"TgmUcmSmartHomeBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"c0001a8e.479bd8","type":"telegram bot","z":"","botname":"TgmUcmSmartHomeBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"feb4aff8.54548","type":"telegram bot","z":"","botname":"TgmUcmSmartHomeBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"bb3d31d1.5552f","type":"telegram bot","z":"","botname":"TgmUcmSmartHomeBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"72c179eb.7f15c8","type":"telegram bot","z":"","botname":"TgmUcmSmartHomeBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"dba5e318.84d8e","type":"mqtt-broker","z":"","name":"","broker":"mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7fe49274.ddfc6c","type":"telegram bot","z":"","botname":"TgmUcmSmartHomeBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"e886fa8f.dfd6f8","type":"telegram bot","z":"","botname":"TgmUcmSmartHomeBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"d2d9cd47.8d0db","type":"telegram bot","z":"","botname":"TgmUcmSmartHomeBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"56dcb76d.2633a8","type":"telegram bot","z":"","botname":"TgmUcmSmartHomeBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"4457ccf8.c61fd4","type":"inject","z":"ab51fb30.d67058","name":"InjectEncendido","topic":"","payload":"podrias encender las luces","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["3341f088.b11b4"]]},{"id":"3341f088.b11b4","type":"watson-conversation-v1","z":"ab51fb30.d67058","name":"Bot","workspaceid":"b953c937-5b4b-4e00-9392-9f30831f74cc","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":310,"y":160,"wires":[["6ead20f0.e07e1","8803f201.5e782"]]},{"id":"6ead20f0.e07e1","type":"debug","z":"ab51fb30.d67058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.entities.0.value","x":520,"y":140,"wires":[]},{"id":"6bcebdae.7d0904","type":"function","z":"ab51fb30.d67058","name":"Preparacion","func":"msg.payload = msg.payload.content\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":240,"wires":[["3341f088.b11b4"]]},{"id":"466d192f.aba508","type":"debug","z":"ab51fb30.d67058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":420,"wires":[]},{"id":"23b4979f.bb2c18","type":"function","z":"ab51fb30.d67058","name":"PreparacionMensajeTelegram","func":"var data = 'la temperatura actual '\nmsg.payload = {}\nvar chatId = 440203011\nmsg.payload.chatId = chatId\nmsg.payload.content = data\nmsg.payload.type = 'message'\nmsg.payload.options = {disable_web_page_preview : true};\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":620,"wires":[[]]},{"id":"698fe8e9.2b8e28","type":"telegram receiver","z":"ab51fb30.d67058","name":"recive","bot":"d2d9cd47.8d0db","saveDataDir":"","x":70,"y":460,"wires":[["466d192f.aba508","6bcebdae.7d0904"],[]]},{"id":"c0b0ca3d.1cd708","type":"mqtt out","z":"ab51fb30.d67058","name":"mqttClient","topic":"mqttRelay","qos":"1","retain":"false","broker":"dba5e318.84d8e","x":780,"y":60,"wires":[]},{"id":"a81729cf.558a38","type":"inject","z":"ab51fb30.d67058","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":60,"wires":[["c0b0ca3d.1cd708"]]},{"id":"e8c21df3.a36c8","type":"debug","z":"ab51fb30.d67058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":260,"wires":[]},{"id":"8803f201.5e782","type":"switch","z":"ab51fb30.d67058","name":"","property":"payload.entities.0.value","propertyType":"msg","rules":[{"t":"eq","v":"Encender","vt":"str"},{"t":"eq","v":"Apagar","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":280,"wires":[["4ac5dffb.54c34"],["a0bb66df.f7c0c8"]]},{"id":"4ac5dffb.54c34","type":"function","z":"ab51fb30.d67058","name":"EncenderFunction","func":"msg.payload='1';\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["e8c21df3.a36c8","c0b0ca3d.1cd708"]]},{"id":"5fc31b1f.c0f904","type":"inject","z":"ab51fb30.d67058","name":"InjectApagado","topic":"","payload":"podrias apagar las luces","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["3341f088.b11b4"]]},{"id":"a0bb66df.f7c0c8","type":"function","z":"ab51fb30.d67058","name":"ApagarFunction","func":"msg.payload='0';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["e8c21df3.a36c8","c0b0ca3d.1cd708"]]}]